*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
}
/* navbar */

.nav-bar{
    opacity: 0.9;
z-index: 2;
    display: block;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: black;
    cursor: pointer;

    
}
.nav-list{
    background-color: black;

    display: block;
    align-items: center;
}
ul{
    background-color: black;

    display: flex;
    margin-left: 13px;
}
.nav-list li{
    background-color: black;

    border-radius: 78px;
    flex-direction: row;
    list-style: none;
    padding: 10px 20px;}

.nav-list li a{
    background-color: black;

     border:hidden;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 3px 10px;
    font-family:'ubuntu';

}
.nav-list li:hover{
    /* border:1px solid aqua; */
 
    transition: 0.7s;

}
.nav-list li a:hover{
    transition: 0.7s;
 
    border: 2px solid aqua;
    border-radius: 25px;
    color: aqua;
}


header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h2{
    margin: 2rem;
    font-size: 3rem;
}
header h4{
    font-size: 20px;
}
#gallery{
    color: red;
}

.container{
    max-width: 80%;
    margin: auto;
}
img{
    width: 100%;
    height: 300px;
    border-radius: 10px;

}
.card{
    box-shadow: 5px 10px 8px #888888;
background-color: #f9f9f9;
/* border: 2px solid black; */
margin-bottom: 2rem;
display: grid;
grid-template-columns: 1fr 2fr;
}
.info{
    padding: 2rem;
    background-color: #f9f9f9;
}
.info h3{
    margin-bottom: 2rem;
    font-weight: Bold;    
}
.info h4{
    margin-bottom:40px ;
}
.btn{
    text-decoration: none;
    color :white;
    background-color: #444;
    padding: 9px 15px;
    border-radius: 5px;
}
.card:nth-child(even){
    grid-template-columns: 2fr 1fr;
}
.card:nth-child(even) img{
    order: 2;

}
.nav-toggle{
    top: 30px;
    right: 30px;
    z-index: 4;
    position: fixed;
    display: none;
}
.nav-line{
    background-color: black;
    margin-bottom: 4px;
    width: 20px;
    height: 4px;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
#contact-us{
    z-index: -1;
}
#About-us{
    border: 1px solid;    box-shadow: 5px 10px 8px #888888;
    height: 400px;
    padding:  10px;
}
@media screen and (max-width:700px) {
    #About-us{
        padding:  10px;

        margin-bottom: 100px;
        height: 600px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card:nth-child(even){
        flex-direction: column-reverse;
    }
    .nav-bar{
     display: none;
    }
    ul{
        margin-top: 20px;
        margin-top: 20px;
    }
    .resp-nav-bar{
        
        height: 100vh;
        width: 40%;
        display: block;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: black;
        cursor: pointer; 
        opacity: 0.9;
    }
   ul{
        display: block;
    }
    .nav-toggle{
        background-color: transparent;
        display: block;
    }
}
#aboutus{
text-align: justify;
font-size: 16px;

}
